<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>AngularJS UI Tree demo</title>

  <!-- Stylesheets -->
  <link rel="stylesheet" type="text/css" href="bower_components/bootstrap-css/css/bootstrap.min.css">
  <link rel="stylesheet" href="angular-ui-tree.min.css">
  <link rel="stylesheet" href="css/demo.css">
</head>
<body ng-app="demoApp" ng-controller="MainCtrl">
  <div class="container">
    <div class="jumbotron">
      <h1>Tree component</h1>
      <p class="lead">The AngularJS Tree component with drag and drop support.</p>
      <p><a class="btn btn-lg btn-success" href="https://github.com/JimLiu/angular-ui-tree" role="button">Code on GitHub</a></p>
    </div>

    <div class="row">
      <div class="col-md-4">
        <h2>What?</h2>
        <p>
          Angular Tree is an AngularJS UI component that can sort nested lists, provides drag &amp; drop support and doesn't depend on jQuery.
        </p>
      </div>
      <div class="col-md-4">
        <h2>Features</h2>
        <ul>
          <li>Uses the native AngularJS scope for data binding</li>
          <li>Sorted and move items through the entire tree</li>
          <li>Prevent elements from accepting child nodes</li>
        </ul>
      </div>
      <div class="col-md-4">
        <h2>Examples</h2>
        <ol>
          <li><a href="tree.html">Unlimited nesting</a></li>
          <li><a href="tree-horizontal.html">Above with horizontal sorting</a></li>
          <li><a href="trees.html">Connected trees</a></li>
          <li><a href="groups.html">Groups &amp; Categories</a></li>
          <li><a href="filter.html">Filter</a></li>
        </ol>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h2>See it in action</h2>
      </div>
    </div>

    <div class="row">
      <div class="row">
        <div class="col-md-12">
          <h3>Play with parameters</h3>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <div class="row">
            <label class="col-md-10" for="dragEnabled">Drag enabled</label> <input type="checkbox" id="dragEnabled" ng-model="parameters.dragEnabled">
          </div>
          <div class="row">
            <label class="col-md-10" for="emptyPlaceholderEnabled">Empty placeholder enabled</label> <input type="checkbox" id="emptyPlaceholderEnabled" ng-model="parameters.emptyPlaceholderEnabled">
          </div>
        </div>
        <div class="col-md-3">
          <label class="col-md-6" for="maxDepth">Max depth</label> <input type="number" id="maxDepth" ng-model="parameters.maxDepth" min="1" max="10">
        </div>
        <div class="col-md-3">
          <div class="row">
            <label class="col-md-6" for="dragDelay">Drag delay</label> <input type="number" id="dragDelay" ng-model="parameters.dragDelay" min="0" style="max-width: 80px;"> <em>(in ms)</em>
          </div>
          <div class="row">
            <label class="col-md-6" for="dragDistance">Drag distance</label> <input type="number" id="dragDistance" ng-model="parameters.dragDistance" min="0" style="max-width: 80px;"> <em>(in px)</em>
          </div>
        </div>
        <div class="col-md-3">
          <div class="row">
            <label class="col-md-10" for="lockX">Lock X (horizontal) axis</label> <input type="checkbox" id="lockX" ng-model="parameters.lockX">
          </div>
          <div class="row">
            <label class="col-md-10" for="lockY">Lock Y (vertical) axis</label> <input type="checkbox" id="lockY" ng-model="parameters.lockY">
          </div>
          <div class="row">
            <label class="col-md-5" for="boundTo">Bound to</label> <input type="text" id="boundTo" ng-model="parameters.boundTo" style="max-width: 155px;">
          </div>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-md-3">
          <div class="row">
            <label class="col-md-5" for="spacing">Spacing</label> <input type="number" id="spacing" ng-model="parameters.spacing" min="0" style="max-width: 155px;">
          </div>
          <div class="row">
            <label class="col-md-6" for="coverage">Coverage</label> <input type="number" id="coverage" ng-model="parameters.coverage" min="-100" max="100"> <em>(in %)</em>
          </div>
        </div>
        <div class="col-md-3">
          <div class="row">
            <label class="col-md-6" for="cancelKey">Cancel key</label> <select id="cancelKey" ng-model="parameters.cancelKey"><option ng-repeat="(key, keyCode) in keys" value="{{ key }}" ng-selected="cancelKey === key">{{ key }} ({{ keyCode }})</option></select>
          </div>
          <div class="row">
            <label class="col-md-6" for="copyKey">Copy key</label> <select id="copyKey" ng-model="parameters.copyKey"><option ng-repeat="(key, keyCode) in keys" value="{{ key }}" ng-selected="copyKey === key">{{ key }} ({{ keyCode }})</option></select>
          </div>
          <div class="row">
            <label class="col-md-6" for="selectKey">Select key</label> <select id="selectKey" ng-model="parameters.selectKey"><option ng-repeat="(key, keyCode) in keys" value="{{ key }}" ng-selected="selectKey === key">{{ key }} ({{ keyCode }})</option></select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="row">
            <label class="col-md-10" for="enableExpandOnHover">Enable "Expand on hover"</label> <input type="checkbox" id="enableExpandOnHover" ng-model="parameters.enableExpandOnHover">
          </div>
          <div class="row" ng-if="enableExpandOnHover">
            <label class="col-md-7" for="expandOnHover">Expand on hover</label> <input type="number" id="expandOnHover" ng-model="expandOnHover" min="0" style="max-width: 60px;"> <em>(in ms)</em>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
          <div class="row" id="boundary">
            <div class="col-lg-6">
              <h4>Draggable Tree</h4>

              <!-- Nested list template -->
              <script type="text/ng-template" id="items_renderer.html">
                <div ui-tree-handle ng-class="{ 'select': $treeScope.multiSelect, 'copy': $treeScope.copy }">
                  <a class="btn btn-success btn-xs" nodrag ng-click="toggle(this)">
                    <span class="glyphicon" ng-class="{ 'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed }"></span>
                  </a>
                  {{item.title}}

                  <a class="pull-right btn btn-danger btn-xs" nodrag ng-click="remove(this)">
                    <span class="glyphicon glyphicon-remove"></span>
                  </a>
                  <a class="pull-right btn btn-primary btn-xs" nodrag ng-click="newSubItem(this)" style="margin-right: 8px;">
                    <span class="glyphicon glyphicon-plus"></span>
                  </a>
                </div>
                <ol ui-tree-nodes ng-model="item.items" ng-class="{ 'hidden': collapsed }">
                  <li ng-repeat="item in item.items" ui-tree-node ng-class="{ 'selected': selected, 'original': original }" ng-include="'items_renderer.html'"></li>
                </ol>
              </script>
              <ui-tree callbacks="callbacks" drag-enabled="parameters.dragEnabled" empty-placeholder-enabled="parameters.emptyPlaceholderEnabled" max-depth="parameters.maxDepth" drag-delay="parameters.dragDelay" drag-distance="parameters.dragDistance" lock-x="parameters.lockX" lock-y="parameters.lockY" bound-to="parameters.boundTo" spacing="parameters.spacing" coverage="parameters.coverage" cancel-key="parameters.cancelKey" copy-key="parameters.copyKey" select-key="parameters.selectKey" expand-on-hover="(parameters.enableExpandOnHover) ? parameters.expandOnHover : parameters.enableExpandOnHover">
                <ol ui-tree-nodes ng-model="list">
                  <li ng-repeat="item in list" ui-tree-node ng-class="{ 'selected': selected, 'original': original }" ng-include="'items_renderer.html'"></li>
                </ol>
              </ui-tree>
            </div>

            <div class="col-lg-6">
              <h4>Full tree</h4>
              <pre class="code">{{ list | json }}</pre>
            </div>
          </div>

        </div>

      </div>
    </div>

  <!-- JavaScript -->
  <!--[if IE 8]>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/es5-shim/3.4.0/es5-shim.min.js"></script>
  <![endif]-->

  <script src="bower_components/angular/angular.min.js"></script>
  <script src="source/main.js"></script>
  <script src="source/controllers/handleCtrl.js"></script>
  <script src="source/controllers/nodeCtrl.js"></script>
  <script src="source/controllers/nodesCtrl.js"></script>
  <script src="source/controllers/treeCtrl.js"></script>
  <script src="source/directives/uiTree.js"></script>
  <script src="source/directives/uiTreeHandle.js"></script>
  <script src="source/directives/uiTreeNode.js"></script>
  <script src="source/directives/uiTreeNodes.js"></script>
  <script src="source/services/helper.js"></script>
  <script src="js/demo.js"></script>
</body>
</html>
