<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>AngularJS NestedSortable demo</title>

  <!-- Stylesheets -->
  <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="demo.css">
</head>
<body ng-app="demo">

  <div class="container" ng-controller="sample3Ctrl">

    <div class="jumbotron">
      <h1>NestedSortable UI component</h1>
      <p class="lead">The AngularJS Tree component with drag and drop support.</p>
      <p><a class="btn btn-lg btn-success" href="https://github.com/JimLiu/Angular-NestedSortable" role="button">Code on GitHub</a></p>
    </div>

    <div class="row">
      <div class="col-md-4">
        <h2>What?</h2>
        <p>
          Angular NestedSortable is an AngularJS UI component that can sort nested lists, provides drag &amp; drop support and doesn't depend on jQuery.
        </p>
      </div>
      <div class="col-md-4">
        <h2>Features</h2>
        <ul>
          <li>Uses the native AngularJS scope for data binding</li>
          <li>Sorted and move items through the entire tree</li>
          <li>Prevent elements from accepting child nodes</li>
        </ul>
      </div>
      <div class="col-md-4">
        <h2>Useful links</h2>
        <ul>
          <li><a href="https://github.com/JimLiu/Angular-NestedSortable">Source on GitHub</a></li>
          <li><a href="https://github.com/JimLiu/Angular-NestedSortable/issues?state=open">Issue tracker</a></li>
        </ul>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-12">
        <h2>See it in action</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">

        <!-- Nested list template -->
        <script type="text/ng-template" id="items_renderer.html">
          <div ui-nested-sortable-handle>
            {{item.title}}
            <a class="pull-right btn btn-danger btn-xs" nodrag ng-click="remove(this)"><span class="glyphicon glyphicon-remove"></span></a>
            <a class="pull-right btn btn-primary btn-xs" nodrag ng-click="newSubItem(this)" style="margin-right: 8px;"><span class="glyphicon glyphicon-plus"></span></a>
          </div>
          <ol ui-nested-sortable="options" ng-model="item.items">
            <li ng-repeat="item in item.items" ui-nested-sortable-item="" ng-include="'items_renderer.html'">
            </li>
          </ol>
        </script>

          <div class="row" ng-controller="MainCtrl">
            <div class="col-lg-6">
              <ol ui-nested-sortable="options" ng-model="list" >
                <li ng-repeat="item in list" ui-nested-sortable-item="" ng-include="'items_renderer.html'"></li>
              </ol>
            </div>

            <div class="col-lg-6">
              <div class="info">
                  {{info}}
              </div>
              <pre class="code">{{ list | json }}</pre>
            </div>
          </div>

        </div>

      </div>
    </div>

<!--
    <div class="row">
      <div class="col-md-4">
        <h4>1. Unlimited nesting</h4>
        <p>
          A nested recursive list which binds with an unlimited nested array.
          You can specify which template should be used for the nodes.
        </p>
        <a class="btn btn-default" href="sample1.html">Try example</a>
      </div>

      <div class="col-md-4">
        <h4>2. Selective drag &amp; drop</h4>
        <p>
          The data type of top level is 'chapter', the data type of the secend level is 'lecture'.
          The node can only be dragged &amp; dropped to another node which with same data type.
        </p>
        <a class="btn btn-default" href="sample2.html">Try example</a>
      </div>

      <div class="col-md-4">
        <h4>3. Full DOM control</h4>
        <p>
          A nested list which binds with a nested array. The data will be updated when it's sort order is changed.
          In this sample, it can only support 3-level nodes.
        </p>
        <p>
          <a class="btn btn-default" href="sample3.html">Try example</a>
        </p>
      </div>
    </div>
  </div>
-->
  
  <!-- JavaScript -->
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="../dist/angular-nested-sortable.min.js"></script>
  <script src="demo.js"></script>
</body>
</html>