<!DOCTYPE html>
<html ng-app="nestedSortableDemoApp">
<head>
  <meta charset="utf-8">
  <title>Angular - nestedSortable Demo</title>
  <link rel="stylesheet" href="demo.css">
 </head>
<body>
  <div class="container" ng-controller="sample1Ctrl">
    <h2>Angular - nestedSortable Sample1</h2>

    <table width="100%" border="0" >
      <tr valign="top">
        <td width="50%">
          <ol ui-nested-sortable="options" ng-model="list">
            <li ng-repeat="item in list" ui-nested-sortable-item="">
              <div ui-nested-sortable-handle>
                {{item.title}}
              </div>
              <ol ui-nested-sortable="options" ng-model="item.items">
                <li ng-repeat="subItem in item.items" ui-nested-sortable-item="">
                  <div ui-nested-sortable-handle>
                    {{subItem.title}}
                  </div>
                </li>
              </ol>
            </li>      
          </ol>          
        </td>
        <td>
          <textarea class="code">{{ list | json }}</textarea>
        </td>
      </tr>
    </table>

    


  </div>
  <script src="http://code.angularjs.org/1.2.0-rc.2/angular.min.js"></script>
  <script type="text/javascript" src="../angular-nestedSortable.js"></script>
  <script type="text/javascript" src="demo.js"></script>
</body>
</html>